{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "prettier",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@babel/eslint-parser",
  "settings": {
        "react": {
            "version": "detect"
        }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "requireConfigFile": false
  },
  "plugins": ["react", "import"],
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "no-use-before-define": [
      "error",
      { "functions": false, "classes": true, "variables": true }
    ],
    "semi": "error",
    "quotes": ["error", "single"],
    "prefer-template": "error",
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "alphabetize": { "order": "asc" }
      }
    ],
    "no-param-reassign": "error",
    "indent": ["error", 2],
    "eqeqeq": "error",
    "no-unused-vars": "error"
  }
}
